.map-legend {
  background: white;
  padding: 10px 12px;
  border-radius: 6px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
  line-height: 22px;
  font-size: 13px;
}

.map-legend strong {
  display: block;
  margin-bottom: 5px;
}
